@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

.cabecalho-sps {
  background-color: #30aae7;
  padding: 20px 10px 60px 10px; 
  border-radius: 15px;
  position: relative; 
}

.titulo-sps {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  font-size: 3.5rem; 
  padding-bottom: 25px; 
}

.menu-navegacao {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); 
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f02424;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.menu-navegacao li {
  float: none;
  display: inline;
}

.menu-navegacao li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.menu-navegacao li a:hover {
  background-color: #b63333;
}
.logout-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #e63946;
    color: white;
    padding: 10px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d62828;
}

