box {
  background-color: #30aae7;
  padding: 10px;
  border-radius: 15px;
}
div {  
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #f02424;
  border-radius: 10px;
}
